body {
    box-sizing: border-box;
    border-color: black;
    background-image: url("../images/skydive.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-image: url("../images/running.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#output {

    background-image: url("../images/do-it.gif");
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

#check-direction {
    color: white;
}

#travel-mode {
    color: white;
}

.text {
    color: white;
}

.text-uppercase {
    color: white;
    font-weight: bold;
    
}

.topTrow {
    align-content: center;
    width: 25%;
    display: block;
    overflow: hidden;

}

.topTrow2 {
    align-content: center;
    width: 25%;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    color: navy;


}

.status-message {
    display: none;
}

.topTrow3 {
    align-content: center;
    width: 25%;
    display: block;
    overflow: hidden;

}

#map {
    margin-top: 2em;
    margin-right: 50px;
    height: 500px;
    width: 500px;
}

#direction {
    display: none;
    margin-top: 0.5em;
    background-image: url("../images/one-direction.png");
    background-size: cover;
    margin-left: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 500px;
    width: 500px;
    overflow-y: auto;
}

#footer {
    float: left;
    padding: 2em;
    width: 100%;
    align-content: center;
    color: white;

}

#btn-run-search {
    line-height: 5px;
}

#btn-find-loc {
    line-height: 5px;
}

#outputTop {
    color: white;
}

#output {
    display: none;
    color: white;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

.warning {
    /* background-color: red; */
    border-color: red;

}

.cool {
    /* background-color: palegreen; */
    border-color: palegreen;

}

@media only screen and (max-width: 624px) {
    /* For cell phones: */
    #map {
    height: 300px;
    width: 300px;
     }
    #directions {
    height: 300px;
    width: 300px;
     }
    .col-xs-12 {width: 100%;}
}
@media only screen and (max-width: 968px) {
    /* For tablets: */
    #map {
    height: 300px;
    width: 300px;
    }
    #directions {
    height: 300px;
    width: 300px;       
    }

    .col-md-12 {width: 100%;}
}

@media only screen  and (min-width : 1224px) {
    /* Desktops and laptops ----------- */
    #map {
    height: 500px;
    width: 500px;
     }
    #directions {
    height: 500px;
    width: 500px;        
     }
   .col-lg-12 {width: 100%}
}
    
   
@media only screen  and (min-width : 1824px) {
     /* Large screens ----------- */
    .col-lg-12 {width: 100%}
}
    

