body {
    box-sizing: border-box;
    border-color: black;
    background-image: url("../images/skydive.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-image: url("../images/running.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#output {

    background-image: url("../images/do-it.gif");
    margin: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

.topTrow {
    /* float: left; */
    align-content: center;
    width: 25%;
    display: block;
    overflow: hidden;

}

.topTrow2 {
    /* float: left; */
    align-content: center;
    width: 25%;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    color: navy;


}

.status-message {
    display: none;
}

.topTrow3 {
    align-content: center;
    width: 25%;
    display: block;
    overflow: hidden;

}

#map {
    margin-top: 2em;
    margin-right: 50px;
    height: 500px;
    width: 500px;
}

#direction {
    display: none;
    margin-top: 0.5em;
    background-image: url("../images/one-direction.png");
    background-size: cover;
    margin-left: 80px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 500px;
    width: 500px;
    overflow-y: auto;
}

#footer {
    float: left;
    padding: 2em;
    width: 100%;
    align-content: center;
    color: white;

}

#btn-run-search {
    line-height: 5px;
}

#btn-find-loc {
    line-height: 5px;
}

#outputTop {
    color: white;
}

#output {
    display: none;
    color: white;
    /* padding:20px; */
    /* opacity: 0.5;
}

.text {
    color: white;
}

.text-uppercase  {
    color: white;
}

#floating-panel {
    color: white;
}

a:link {
    /* color: rgb(216, 197, 112); */

}

a:visited {
    color: green;
}

a:hover {
    /* color: white; */
    color: hotpink;
}

a:active {
    color: blue;
}

.warning {
    /* background-color: red; */
    border-color: red;

}

.cool {
    /* background-color: palegreen; */
    border-color: palegreen;

}
